
<div class="container" style="margin-bot:20px;margin-top:50px;"><h2>Visits(Y) versus time(X) (Today)</h2></div>
<div id="chart" class="container" style="margin-bot:80px;"></div>
<div class="container" style="margin-bot:20px;"><h2>Visits per day (July)</h2></div>
<div id="chart2" class="container" style="margin-bot:80px;"></div>
<div class="container" style="margin-bot:20px;"><h2>Percentage of customers staying beyond 5 minutes</h2></div>
<div id="chart3" class="container" style="margin-bot:80px;"></div>

<div class="container" style="margin-bot:20px;"><h2>No. of photos taken per customer (Y) vs. time stayed (X/mins)</h2></div>
<div id="chart4" class="container" style="margin-bot:80px;"></div>



<script type="text/javascript">
var data1 = "Sri Mariamman Temple";
var data2 = "ITE College Central";
var data3 = "Gardens by the Bay";
var data4 = "Kranji War Memorial";
var databc1 = "Sri Mariamman Temple";


$( document ).ready(function(){
  setTimeout(function () {
    chart.load({
      columns: [
        [<%=myData%>], [<%=myData2%>], [<%=myData3%>], [<%=myData4%>]      ]
      });
    }, 1000);

    setTimeout(function () {
      chart2.load({
        columns: [
          [<%=myDatabc%>] ]
        });
      }, 1500);
    });
    </script>
